.picto-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 25vmin;
    padding-bottom: 10vmin;
    padding-top: 5vmin;
}

.row {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
}

.img {
    display: flex;
    flex-direction: column;
}

.img:hover > img{
    filter: blur(2px) opacity(20%);
    transition: .5s ease;
}

.img:hover > p {
    opacity: 1;
    transition: .2s ease;
}

.img > img {
    height: 10vmin;
    transition: ease-out .5s;
}

.img > p, .img > p > p {
    opacity: 0;
    transition: .2s ease-out;
    color: black;
    font-size: 2vmin;
    text-align: center;
}

.img > p {
    margin-top: -8vmin;
}

.img > p + p {
    margin-top: -2vmin;
}

.picto-link {
    text-decoration: none;
}

.picto-link:focus {
    outline: 0;
}
