.picto-container {
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.picto-container > a {
    text-decoration: none;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-item-image {
    object-fit: cover;
    width: 21vw;
    height: 21vw
}

.portfolio-item-image-mobile {
    object-fit: cover;
    width: 45vw;
    height: 45vw
}

.portfolio-item-text {
    color: black;
}

.portfolio-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-details > h1 {
    font-size: 5vh;
}

.portfolio-details-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.portfolio-details-frame {
    max-width: 21vw; /*4 per row*/
}

.portfolio-details-frame-med {
    max-width: 34vw; /*2 per row*/
}

.portfolio-details-frame-big {
    max-width: 50vw; /*1 per row*/
    margin-left: 20vw;
    margin-right: 20vw;
}

.portfolio-details-image {
    margin-bottom: 1vh;
    width: 100%;
}

.portfolio-details-video {
    width: 50vw !important
}