.about-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20vw;
    /*background-color: beige;*/
}
.about-content>img {
    height: 25vmin
}

.about-content>h1 {
    font-size: 5vmin;
}

.about-content>p {
    font-size: 2vmin;
}