.flex {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.content>img {
    height: 25vmin
}

.content>h1 {
    font-size: 5vmin;
}

.content>p {
    font-size: 2vmin;
}