.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-text {
    color: black;
}

.item-image {
    object-fit: cover;
    width: 21vw;
    height: 21vw
}

.item-image-mobile {
    object-fit: cover;
    width: 45vw;
    height: 45vw
}

.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details-container > h1 {
    font-size: 5vh;
}

.description {
    font-size: 2vh;
    white-space: pre-line;
    text-align: center;
}

@media only screen and (min-width: 1281px) { /* For Desktop */
    .details-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 5vh;
        margin-bottom: 5vh;
        width: 50vw;
    }

    .details-frame-tiny {
        max-width: 12vw; /*4 per row*/
        margin-right: 1vh;
    }

    .details-frame-small {
        max-width: 13.1vw; /*3 per row*/
        margin-right: 1.7vh;
    }

    .details-frame-med {
        max-width: 20vw; /*2 per row*/
        margin-right: 1.7vh;
    }

    .details-frame-big {
        width: 25vw; /*1 per row*/
        margin-left: 12vw;
        margin-right: 12vw;
    }

    .details-video {
        width: 50vw !important
    }
}

@media only screen and (max-width: 1280px) { /* For Mobile */
    .details-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 5vh;
        margin-bottom: 5vh;
        width: 90vw;
    }
}

.item-image-popup {
    margin-bottom: 1vh;
    width: 100%;
}

.popup-content {
    height: 90vh !important;
    width: 20vh !important;
    padding: 0 !important;
    display: flex;
    justify-content: center;
}

.modal-container {
    display: flex;
}

.modal {
    display: flex;
    justify-content: center;
    height: 90vh;
    width: 90vh;
}

.modal-image {
    height: 100%;
    max-width: 90vh;
    border: black solid 1vh;
}

.left-arrow {
    margin-right: 2vw;
    width: 15vh;
}

.right-arrow {
    margin-left: 2vw;
    width: 15vh;
}