.works-container {
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.works-container > a {
    text-decoration: none;
}

.works-carousel > .carousel{
    width: 35vw !important;
}

.slide > div {
    width: auto;
    margin: 0;
}

.works-carousel-mobile > .carousel {
    width: 90vw !important;
}