.footer {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    left: 50%;
    width: 20vmin;
    margin-left: -10vmin;
    margin-bottom: 4vmin;
    position: fixed;
    bottom: 0;
}

.footer a {
    padding-top: 5vmin;
}

.img {
    height: 4vmin;
}