.footer {
    display: flex;
    justify-content: space-between;
    left: 50%;
    width: 30vmin;
    margin-left: -15vmin;
    margin-bottom: 2vmin;
    position: relative;
}

.footer a {
    padding-top: 5vmin;
}

.img {
    height: 4vmin;
}