.header {
    text-align: center;
    height: 14vh;
}

.logo {
    height: 15vh;
    padding-top: .5vh;
}

.logo-link:focus {
    outline: 0;
}

.nav {
    height: 7vh;
    display: flex;
    justify-content: center;
}

.nav-link {
    font-family: 'Gondola', sans-serif;
    display: inline-block;
    position: relative;
    font-size: 2vh;
    padding-top: 3vh;
    padding-right: 2vw;
    padding-left: 2vw;
    text-decoration: none;
    border-bottom: none;
}

.nav-link:focus {
    outline: 0
}

.nav-link:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 3vh;
    width: 100%;
    border-bottom: 1px solid;
    opacity: 0;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

.nav-link:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}